*
  box-sizing: border-box
html
  scroll-behavior: smooth
body
  font-family: 'Nunito-Regular', sans-serif
  font-weight: 400
  background-color: $bgc
  color: $text
a
  text-decoration: none
ul, li
  margin: 0
  padding: 0
.container
  max-width: 1240px
  margin: 0 auto
.heading
  font-family: "Exo2-ExtraBold", sans-serif
  font-style: normal
  font-weight: 800
  font-size: 48px
  line-height: 60px
  letter-spacing: 0.02em
  color: $head
.subheading
  font-family: 'Nunito-Light', sans-serif
  font-weight: 200
  font-size: 36px
  line-height: 48px
  text-align: center
  letter-spacing: 0.1em
  color: #C4C4C4
  text-transform: uppercase
.text
  font-family: 'Nunito-Light', sans-serif
  font-style: normal
  font-weight: 300
  font-size: 18px
  line-height: 28px
  color: $text
