@media ( max-width:1200px  )
  .container
    max-width: 960px
  .heading
    font-size: 42px
    line-height: 52px
  .navbar
    &__item
      margin-right: 15px
      &-lang
        margin-right: 6px

  .promo
    &__block
      margin-right: 15px
    &__title
      font-size: 48px
      line-height: 56px
      width: 455px
    &__cards
      top: 350px
    &__image
      margin-right: 0
      width: 450px
      height: 450px
      &-wrapper
        &::before
          width: 430px
          height: 430px
      &-fon
        width: 450px
        height: 450px
    &_photo
      width: 450px
      height: 450px

  .about
    &__first
      padding-top: 220px
    &__image
      padding-left: 0px
      width: 400px
      height: 400px
      &-wrapper
        width: 400px
        height: 400px
        &::before
          width: 400px
          height: 400px
          left: 30px
          top: 30px

  .works
    &__photo
      width: 31%
    &__title
      font-size: 19px
      margin-bottom: 10px
    &__description
      font-size: 16px
    &__photo-info
      padding: 15px 25px

  .consist
    &__first
      margin-right: 10px
      margin-top: 0px
    &__second
      width: 450px
    &__image-fon
      width: 450px
      height: 331px
    &__image-wrapper::before
      width: 450px
      height: 355px

  .price
    &__block
      justify-content: space-between
    &__card
      width: 270px
    &__wrapper
      width: 270px
      height: 270px
    &__wrapper::before
      width: 350px
      height: 350px
      left: -26px
      top: -34px

  .reviews__tab
    width: 390px

  .contacts
    &__first
      justify-content: space-between
    &__image-wrapper::before
      left: 20px
    &__image
      padding-left: 0px
      margin-right: 0px
