@media ( max-width:1200px  )
  .container
    max-width: 960px
    // border: 2px solid black
  .promo
    &__title
      font-size: 48px
      line-height: 56px
      width: 455px
    &__image
      margin-right: 0
      width: 490px
      height: 490px
      &-wrapper
        width: 490px
        height: 490px
        &::before
          content: ''
          position: absolute
          top: -30px
          width: 490px
          height: 490px
          background-size: cover
      &-fon
        width: 490px
        height: 490px
        background-size: cover
