@media ( max-width:1200px  )
  .container
    max-width: 960px
    // border: 2px solid black
  .promo
    &__title
      font-size: 48px
      line-height: 56px
      width: 455px
    &__image
      margin-right: 0
      width: 400px
      height: 400px
      &-wrapper
        width: 400px
        height: 400px
        &::before
          width: 400px
          height: 400px
      &-fon
        width: 350px
        height: 350px
        background-size: cover
    &_photo
      width: 350px
      height: 350px
