@keyframes fon
  0%
    opacity: 0
    transform: translateX(0px)translateY(0px)rotate(0deg)scale(0.85,0.85)
    animation-timing-function: ease-in-out
  100%
    opacity: 1
    transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1)

@keyframes promo-wrp
  0%
    opacity: 1
    top: -30px
    left: 0
  25%
    opacity: 0.75
    top: -15px
    left: -15px
  50%
    opacity: 1
    top: -25px
    left: 2px
  75%
    opacity: 0.75
    top: -17px
    left: 12px
  100%
    opacity: 1
    top: -30px
    left: 0px

@keyframes about-wrp
  0%
    opacity: 1
    top: 30px
    left: 50px
  25%
    opacity: 0.75
    top: 50px
    left: 70px
  50%
    opacity: 1
    top: 45px
    left: 40px
  75%
    opacity: 0.75
    top: 40px
    left: 60px
  100%
    opacity: 1
    top: 30px
    left: 50px

@keyframes pulse
  0%
    opacity: 1
    transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1)
    animation-timing-function: ease-in-out

  50%
    opacity: 1
    transform: translateX(0px)translateY(0px)rotate(0deg)scale(1.2,1.2)
    animation-timing-function: ease-in-out

  100%
    opacity: 1
    transform: translateX(0px)translateY(0px)rotate(0deg)scale(1,1)

@keyframes consist-pulse
  0%
    opacity: 1
    transform: translateX(0px)translateY(0px)rotate(5deg)scale(0.9,0.9)
    animation-timing-function: ease-in-out
  50%
    opacity: 0.8
    transform: translateX(0px)translateY(0px)rotate(5deg)scale(0.95,0.95)
    animation-timing-function: ease-in-out
  100%
    opacity: 1
    transform: translateX(0px)translateY(0px)rotate(5deg)scale(0.9,0.9)

@keyframes price-pulse-1
  0%
    opacity: 1
    transform: translateX(0px)translateY(0px)rotate(-215deg)scale(1.02,1.02)
    animation-timing-function: ease-in-out
  50%
    opacity: 0.8
    transform: translateX(0px)translateY(0px)rotate(-215deg)scale(1.1,1.1)
    animation-timing-function: ease-in-out
  100%
    opacity: 1
    transform: translateX(0px)translateY(0px)rotate(-215deg)scale(1.02,1.02)

@keyframes consist-play
  0%
    transform: scale(0.5)
    opacity: 0
  50%
    transform: scale(.85)
    opacity: 1
  100%
    transform: scale(1.2)
    opacity: 0
