.promo
  position: relative
  background: $bl-l url(../images/bg/stars.svg) repeat-x 0 0
  padding-top: 57px
  &__first
    display: flex
    justify-content: space-between
    align-items: start
  &__title
    width: 535px
    margin: 0
    margin-bottom: 35px
    font-family: "Exo2-ExtraBold"
    font-style: normal
    font-weight: 700
    font-size: 58px
    line-height: 65px
    letter-spacing: 0.03em
    color: $bl
  &__cards
    position: absolute
    top: 400px
    display: flex
  &__card
    width: 190px
    padding: 46px 13px 35px 24px
    background: url('../images/bg/card.svg') no-repeat top center
    box-shadow: 10px 18px 20px rgba(94, 189, 228, 0.26)
    border-radius: 10px
    &:not(:last-child)
      margin-right: 25px
    &_title
      display: block
      margin-bottom: 18px
      font-weight: 500
      font-size: 18px
      line-height: 24px
      text-transform: uppercase
      color: $head
    &_description
      margin: 0
      font-weight: 300
      font-size: 16px
      line-height: 24px
      color: $text
  &__description
    font-style: normal
    font-weight: 300
    font-size: 18px
    line-height: 24px
    color: $bl
    margin-bottom: 57px
  &__icon
    display: flex
    justify-content: center
    margin-bottom: 21px
  &__image
    margin-right: 50px
    width: 600px
    height: 600px
    position: relative
    &-wrapper
      // position: relative
      &::before
        content: ''
        position: absolute
        top: -30px
        width: 600px
        height: 600px
        background-image: url('../images/blobs/promo-wrp.svg')
        // background-image: url('../images/blobs/blobs.svg#promofon-view')
        animation: promo-wrp 4.5s infinite linear
    &-fon
      width: 100%
      height: 100%
      object-fit: cover
      animation: fon 2s 1 ease-out
  &_photo
    width: 597px
    height: 597px

.clip
  clip-path: url(#svgPromo)
