.promo
  position: relative
  background-color: $bl-l
  background-image: url(../images/bg/stars.svg)
  background-repeat: repeat-x
  background-position: 0 0
  // height: 726px
  padding-top: 57px
  &__first
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    width: 535px
    margin: 0
    margin-bottom: 35px
    font-family: Exo 2
    font-style: normal
    font-weight: 700
    font-size: 58px
    line-height: 65px
    letter-spacing: 0.03em
    color: $bl
  &__cards
    // position: absolute
    // top: 372px
    display: flex
  &__card
    width: 190px
    padding: 46px 13px 35px 24px
    background: url('../images/bg/card.svg') no-repeat top center
    box-shadow: 10px 18px 20px rgba(94, 189, 228, 0.26)
    border-radius: 10px
    &:not(:last-child)
      margin-right: 25px
    &_title
      display: block
      margin-bottom: 18px
      font-weight: 500
      font-size: 18px
      line-height: 24px
      text-transform: uppercase
      color: $head
    &_description
      margin: 0
      font-weight: 300
      font-size: 16px
      line-height: 24px
      color: $text
  &__description
    font-style: normal
    font-weight: 300
    font-size: 18px
    line-height: 24px
    color: $bl
    margin-bottom: 57px
  &__icon
    display: flex
    justify-content: center
    margin-bottom: 21px
  &__image
    // width: 600px
    // height: 600px
    margin-right: 50px
    &-wrapper
      position: relative
      width: 600px
      height: 600px
      &::before
        content: ''
        position: absolute
        top: -10px
        width: 600px
        height: 600px
        background-image: url('../images/blobs/promo.svg')
        background-repeat: no-repeat
        animation-name: rotation
        animation-duration: 4s
        animation-iteration-count: infinite
        animation-timing-function: linear
      //  transform: rotate(45deg)
    &-fon
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
      animation-name: rotation2
      animation-duration: 2s
      animation-iteration-count: 1
      animation-timing-function: ease-out
.clip
  clip-path: url(#svgPath)

@keyframes rotation2
  0%
    opacity: 0
    top: 15%
    left: 15%
    width: 85%
    height: 85%
    // transform: rotate(-300deg) translateX(-100px)
  30%
    // top: 20%
    // left: 20%
  50%
    top: 15px
    left: 5 px
    opacity: 0.4
    // width: 80%
    // height: 80%
  100%
    top: 0
    left: 0
    opacity: 1
    width: 100%
    height: 100%
    // transform: rotate(-360deg) translateX(10px)

@keyframes rotation
  0%
    opacity: 1
    top: 0
    left: 0
  25%
    opacity: 0.75
    top: 10px
    left: -15px
  50%
    opacity: 1
    top: 2px
    left: 2px
  75%
    opacity: 0.75
    top: 9px
    left: 12px
  100%
    opacity: 1
    top: 0px
    left: 0px
